Assignment #4

Navigate Kaggle and select a data set that contains at least 5 features and have both categorical and numerical features.

    With well-styled markdown cell, describe the data set and show the dictionary of the columns (for each column provide the name, data type, and description)
    Load the data set to your notebook and answer the following questions:

        What is the shape of the data?
        Does it contain missing values?
        Which features are numerical, and which are nominal, and which are ordinal ?
        Select two numerical features and:
        Show their descriptive statistics, add your interpretation on each feature
        Does they have skweness? interpret
        Select two categorical features and verify if the data is balanced between the categories of each feature
        Based on your intuition, select two features that you think they could be correlated. Verify your assumption using both visualization and the correlation coefficient approaches
        Are their features that can be used as index?

    Add your name and id in the top of the notebook

